<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<body>

    <div class="container">
      <div class="row" style="margin-top:5vh">
      <div class="col-md-12">
                <ul class="list-group">
               
           
               
                  </ul>
            
             </div>
         </div>

         <div class="row" style="margin-top:10vh">
          <div class="col-md-12">


         <form method="POST">
           {% csrf_token %}


           <input type="hidden" name="items" id="items"   />

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Name</label>
              <input id="name" name="name" type="text" class="form-control" id="inputEmail4" placeholder="Sai">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Email</label>
              <input id="email" name="email" type="email" class="form-control" id="inputPassword4" placeholder="Sai@gmail.com">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input id="address" name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
       
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input id="city" name="city" type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <input id="state" name="state" type="text" class="form-control" id="inputCity">

            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input id="zipcode" name="zipcode"type="text" class="form-control" id="inputZip">
            </div>


            <div class="form-group col-md-2">
              <label for="inputZip">Amount</label>

<input readonly=""  id="total" name="total" class="form-control" type="text"/>
            </div>




          </div>
         
          <button type="submit" class="btn btn-dark">Order</button>
        </form>
      </div>
    </div>


    </div>
   
</body>


<script type="text/javascript">

var itemString=''
var totalString=''
var total=0
if(localStorage.getItem('cart')==null){
  var cart={}
}else{
  cart=JSON.parse(localStorage.getItem('cart'))
  for(item in cart){
    let name=cart[item][1]
    let quantity=cart[item][0]
    let price=cart[item][2]
    total+=price

    itemString=`   <li class="list-group-item"> <span class="" > ${quantity} </span> of ${name}   <span class="badge badge-warning badge-pill" > ${price}</span> </li>`
$('.list-group').append(itemString)

}
totalString=` <li class="list-group-item d-flex justify-content-between align-items-center" > <b> Your total: ${total} </b>  </li>`

}

$('#total').val(total)
$('.list-group').append(totalString)
$('#items').val(JSON.stringify(cart))


</script>

</html>