{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel ="stylesheet" href="{% static 'food/style.css' %}">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script> 
<body>
        <nav class="navbar fixed-top navbar-dark bg-dark" >
                <a href="/food/" style="font-weight:bold;" class="navbar-brand">FoodVilla</a>
                
                <div class="navbar" >
                    <a class="nav-item nav-link"  style="text-shadow:1px 1px 1px white; " href="{%url 'food:create_item' %}">
                        Add Item
                
                    </a>
                    <a class="nav-item nav-link" href="#" style="text-shadow:1px 1px 1px white; ">
                        Delete Item
                    
                        </a>
                 <a class="nav-item nav-link" href="#" style="text-shadow:1px 1px 1px white;">
                        View Item
                        
                </a>
                </div>
                </nav>
   {% block body %}
   {% endblock %}
</body>
</html>