{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

        {% block body %}

        {% for item in item_list %}
    <div class="row" style="  margin:2rem;position:relative;top:3.5rem;">
        <div style="margin-right:5px " class="col-md-3 offset-md-2">
    
    <img class="card" height="150px" width="180px"  src="{{item.item_image}}">
        </div>
        <div class="col-md-4">
    <h3>{{item.item_name}}</h3>
    <h5>{{item.item_desc}}</h5>
    <h6>Rs.{{item.item_price}}</h6>
            </div>
    
        <div class="col-md-2">
        <!-- /food/{{item.id}} -->
    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
        </div>
    
    </div>
    
        {% endfor %}
        {% endblock %}

</body>
</html>